* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}
.card {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 30rem;
  border-radius: 1rem;
}
.imgQrCode {
  width: 18rem;
  height: 18rem;
  border-radius: 1rem;
}
.titleQrCode {
  font-size: 22px;
  text-align: center;
  padding: 1.5rem 1rem 1.5rem 1rem;
}
.textQrCode {
  font-size: 15px;
  text-align: center;
  padding: 0rem 1rem 1rem 1rem;
  color: hsl(220, 15%, 55%);
}
